@import '../../assets/libs/vars';
@import '../../assets/libs/functions';
@import '../../assets/libs/mixins';
@import '../../assets/libs/vendor';
@import '../../assets/libs/breakpoints';
@import '../../assets/libs/html-grid';
@import '../../assets/fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700');


// Breakpoints.

@include breakpoints((
    xlarge:   ( 1281px,  1680px ),
    large:    ( 981px,   1280px ),
    medium:   ( 737px,   980px  ),
    small:    ( 481px,   736px  ),
    xsmall:   ( 361px,   480px  ),
    xxsmall:  ( null,    360px  ),
    xlarge-to-max:    '(min-width: 1681px)',
    small-to-xlarge:  '(min-width: 481px) and (max-width: 1680px)'
));

@import '../../assets/base/reset';
@import '../../assets/base/page';
@import '../../assets/base/typography';

// Component.

@import '../../assets/components/section';
@import '../../assets/components/form';
@import '../../assets/components/icon';
@import '../../assets/components/list';
@import '../../assets/components/icons';
@import '../../assets/components/contact';
@import '../../assets/components/posts';

// Layout.

@import '../../assets/layout/wrapper';
@import '../../assets/layout/main';
@import '../../assets/layout/sidebar';
@import '../../assets/layout/header';
@import '../../assets/layout/banner';
@import '../../assets/layout/footer';
@import '../../assets/layout/menu';